/* 
transform으로 요소의 모양(크기,위치)을 조작
마치 ppt 애니메이션 효과같은 것을 부여할 수 있음
-> transition
*/

.card {
    width: 140px;
    height: 140px;
    margin: 120px auto;
    background-color: orange;

    /* transition */
    /* 
    transform 속성이 변하면,
    바로 변화시키지말고,
    1s의 시간동안
    ease 효과를 줘서 변화시켜주세요
    */
    /* 
    ease : 느리다가 중간에 빨라지다가 마지막에 느려짐
    ease-in : 느리다가 빨라짐
    ease-out: 빠르다가 느려짐
    ease-in-out: 처음과 끝은 느리고, 중간은 빠름
    */
    transition: all 1s ease-in-out;
}

.card:hover {
    /* transform에 여러가지 정의 가능 */
    transform: scale(1.3) rotate(360deg);
    background-color: blue;
    /* 불투명도(0) ~ (1) */
    opacity: 0;
}