#container {
    /* 절대값으로 컨테이너 같은 부모에 지정하고
        내부에 있는 박스들은 크기지정을 하지않는게 좋다.
        (반응형)
    */
    width: 600px;
    height: 500px;
    margin: 10px auto; 
    border: 1px solid gray;
    padding: 20px;
}

#container h1 {
    background-color: rgb(9, 106, 9);
    color: white;
    text-align: center;
    padding: 20px;
}

#container h2 {
    text-align: center;
    margin-bottom: 50px;
}

#container h3 {
    color: rgb(196, 132, 12);
}

#container ul {
    list-style: none;
    margin: 20px;
}