* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #dbdbdb;
}

.signup-container {
    width: 380px;
    padding: 30px;

    background-color: white;
    border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signup-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 16px;

}

.form-group input {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;

}

.form-group label {
    display: block;
    margin-bottom: 6px;

    font-size: 12px;

}

.signup-btn {
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 4px;

    background-color: #dbdbdb;
    
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #ccc;
}

.error-message {
    font-size: 12px;
    color: #e03131;
}