* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 70px;
    background-color: #333;
    color: white;

    display: flex;
    align-items: center;
    padding: 0 20px;

}

.logo {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    /* flex-grow: 남은여백 지분 */
    flex-grow: 0;
}

.menu-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li {
    cursor: pointer;
}

.cart {
    flex-grow: 0;
    cursor: pointer;
}

.hidden {
    display: none;
}

main {
    width: 100%;
}

.product-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 200px;
    border: 2px solid #ccc;
    padding: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.title {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    font-weight: 600;
    margin-bottom: 10px;
}

.product-card button {
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.image-box {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
}