* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 70px;
    background-color: #333;
    color: white;

    display: flex;
    align-items: center;
    padding: 0 20px;

}

.logo {
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    /* flex-grow: 남은여백 지분 */
    flex-grow: 0;
}

.menu-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li {
    cursor: pointer;
}

.cart {
    flex-grow: 0;
    cursor: pointer;
}



main {
    width: 100%;
}

.product-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

.product-card {
    width: 200px;
    border: 2px solid #ccc;
    padding: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.title {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    font-weight: 600;
    margin-bottom: 10px;
}

.product-card button {
    width: 100%;
    padding: 4px;
    cursor: pointer;
}

.image-box {
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
}

/* 모달 관련 */

/* 모달 배경 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
    
    /* flex - 중앙정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}



.cart-modal {
    width: 480px;
    height: 60vh;

    background-color: #fff;
    border-radius: 8px;

    display: flex;
    flex-direction: column; 
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.close-btn {
    border: none;
    font-size: 18px;
    cursor: pointer;
    /* 배경을 투명하게 */
    background: none;
}

/* ul */
.cart-list {
    list-style: none;
    padding: 10px;
    overflow-y: auto;

}

/* li */
.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 0;
    border-bottom: 1px solid #eee;

}

.cart-item img {
    width: 50px;
    flex-grow: 0;
}

.cart-info {
    flex-grow: 1;
}

.delete-btn {
    flex-grow: 0;
    cursor: pointer;
    border: none;
    background-color: rgb(155, 19, 19);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;

    /* 요소안에 텍스트 줄바꿈 방지 */
    white-space: nowrap;
}

.modal-footer {
    text-align: center;
    padding: 10px;
    
    border-top: 1px solid #eee;

}

.hidden {
    /* modaloverlay에도 display 지정하는 속성이 있음 */
    /* 가장 아래에 배치된 display 속성이 덮어쓴다 */
    display: none;
}

.cart-info .title {
    font-size: 16px;
}

.cart-info .price {
    font-size: 12px;
    font-weight: 600;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
}

.quantity button {
    width: 16px;
    height: 16px;
    cursor: pointer;

}



